
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
  height: 100%;
}
body {
  background: hsl(0,0%,20%);
  font-family: 'Roboto', sans-serif;
  color: hsl(0, 0%, 35%);
  margin: 0 auto;
}

main {
  width: 100%;
  position: absolute;
  left: 0; right: 0;
}

.window {
  margin: 50px auto;
  padding: .5em;
  width: 500px;
  background-color: hsl(0, 0%, 98%);
  border-bottom: 12px solid hsl(188, 38%, 50%);
  border-right:  12px solid hsl(188, 38%, 50%);
}

.header {
  text-align: center;
  color: hsl(0,0%,20%);
}

.header-icon {
  color: hsl(19, 97%, 54%);
}

.list-body {
  width: 75%;
  margin: 12px auto;
}

#new-item, #new-recipe {
  width: 100%;
  border: none;
  border-bottom: 1px solid hsl(0,0%,50%);
  font-family: sans-serif;
  color: hsl(0, 0%, 35%);
  padding: 18px 0;
  background-color: hsl(0, 0%, 98%);
  line-height: 2em;
  font-size: inherit;
}

#check-list, .recipe-list {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
}

.list-item, .recipe-item {
  position: relative;
  border-top: 1px solid hsl(0,0%,50%);
  background-color: hsl(0, 0%, 98%);
  line-height: 2em;
  padding: 10px;
}

.strike {
  text-decoration: line-through;
  background-color: hsl(0, 0%, 90%)	;
}

.recipe-list {
  position: relative;
  border-top: 1px solid hsl(0,0%,50%);
  border-bottom: 1px solid hsl(0,0%,50%);
}

.recipe-name {
  position: relative;
  font-weight: bold;
  background-color: hsl(0, 0%, 98%);
  line-height: 2.5em;
  margin: 0 auto;
}

.rec-input {
  display: inline-block;
  width: 100%;
  border: none;
  padding: 8px;
  line-height: 1em;
  color: hsl(0, 0%, 35%);
  background-color: hsl(0, 0%, 98%);
}

.add-rec-item-icon, .add-recipe-icon {
  position: absolute;
  right: 3.5em;
  top: 1.25em;
  cursor: pointer;
  z-index: 4;
}

.trash-icon {
  position: absolute;
  right: 1em;
  top: 1.25em;
  cursor: pointer;
  z-index: 5;
}

@media (max-width: 550px) {
  .window {
    width: 100vw;
    border-radius: 0;
    border-right: none;
    padding: .5em 0;
  }
  .list-body {
    width: 90vw;
  }
}