html {
  height: 100%;
}
body {
  background: grey;
  font-family: sans-serif;
  color: hsl(0, 0%, 35%);
}
#list-window {
  position: absolute;
  top: 50px;
  left: 0; right: 0;
  margin: 0 auto;
  width: 600px;
  background-color: #fff;
  border-radius: 12px;
}

#list-head {
  text-align: center;
}

#list-body {
  width: 75%;
  margin: 0 auto;
}

#check-list {
  list-style-type: none;
}

.list-item {
  position: relative;
  border-top: 1px solid grey;
  line-height: 2em;
  padding: 10px;
}

.strike {
  text-decoration: line-through;
  background-color: lightgrey;
}

.remove {
  position: absolute;
  right: 1em;
  top: .75em;
}