html {
  height: 100%;
}
body {
  background: grey;
  font-family: sans-serif;
  color: hsl(0, 0%, 35%);
}

main {
  position: absolute;
  left: 0; right: 0;
}

.window {
  margin: 50px auto;
  padding: .5em;
  width: 600px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 12px;
}

.header {
  text-align: center;
}

.list-body {
  width: 75%;
  margin: 0 auto;
}

#check-list, .recipe-list {
  list-style-type: none;
}

.list-item {
  position: relative;
  border-top: 1px solid grey;
  background-color: hsl(0, 0%, 98%);
  line-height: 2em;
  padding: 10px;
}

.strike {
  text-decoration: line-through;
  background-color: hsl(0, 0%, 90%)	;
}

.remove {
  position: absolute;
  right: 1em;
  top: .75em;
}

.recipe-name {
  position: relative;
}

.rec-input {
  position: absolute;
  right: 1em;
}