
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
  height: 100%;
}

body {
  background: hsl(0,0%,20%);
  font-family: 'Roboto', sans-serif;
  color: hsl(0, 0%, 35%);
  margin: 0 auto;
}

/* container for both lists */
main {
  width: 100%;
  position: absolute;
  left: 0; right: 0;
}

.container {
  margin: 50px auto;
  padding: .5rem;
  width: 500px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 12px 12px 0px 0px hsl(188, 38%, 50%);
}

.header-icon {
  color: hsl(19, 97%, 54%);
}

.header h2 {
  margin: 1rem;
}

.list-body {
  width: 75%;
  margin: 12px auto;
}

/* inputs for main & recipe lists */
#new-item, #new-recipe {
  width: 100%;
  border: none;
  border-bottom: 1px solid hsl(0,0%,50%);
  font-family: sans-serif;
  color: hsl(0, 0%, 35%);
  padding: 18px 0;
  background-color: hsl(0, 0%, 98%);
  line-height: 2rem;
  font-size: inherit;
}

#check-list, .recipe-list {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
}

.list-item, .recipe-item {
  position: relative;
  border-top: 1px solid hsl(0,0%,50%);
  background-color: hsl(0, 0%, 98%);
  line-height: 2rem;
  padding: 10px;
}

/*.list-item .edit-icon, .list-item .trash-icon {
  display: none;
}*/

.list-item .info-icon {
  z-index: 10;
}

.strike {
  text-decoration: line-through;
  background-color: hsl(0, 0%, 90%)	;
}

.recipe-list {
  position: relative;
  border-top: 1px solid hsl(0,0%,50%);
  border-bottom: 1px solid hsl(0,0%,50%);
}

.recipe-name {
  position: relative;
  font-weight: bold;
  background-color: hsl(0, 0%, 98%);
  line-height: 2.5em;
  margin: 0 auto;
}

/* input for recipe item */
.recipe-input {
  display: inline-block;
  width: 100%;
  border: none;
  padding: 8px;
  line-height: 1rem;
  color: hsl(0, 0%, 35%);
  background-color: hsl(0, 0%, 98%);
}



.add-rec-item-icon, .add-recipe-icon, .edit-icon, .info-icon {
  position: absolute;
  right: 3.5rem;
  top: 1.25rem;
  cursor: pointer;
  z-index: 4;
}

.recipe-item .edit-icon {
  right: 6rem !important;
}

.trash-icon {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  cursor: pointer;
  z-index: 5;
}

.recipe-toggle-icon {
  position: absolute;
  left: -1rem;
  top: .6rem;
  cursor: pointer;
  z-index: 5;
}

/*.ui-dialog {
  position: absolute;
  width: 350px; 
  margin: 20px auto;
  background-color: #fff;
  z-index: 99;
  padding: .3em;
}

.ui-dialog-titlebar {
  background-color: #595959;
  color: #eee;
  padding: .5rem;
}*/

#dialog-form fieldset {
  border: none;
}

/*
.ui-button {
  border-radius: .25rem;
  padding: .25rem .75rem;
  margin: .25rem;
}

.ui-dialog-titlebar-close {
  position: absolute;
  top: 0;
  right: .3rem;
}

.ui-dialog-buttonset {
  text-align: right;
}*/



/* changing styling to fit 100vw & shadow to border */

@media (max-width: 550px) {
  .container {
    width: 100vw;
    margin: 25px auto;
    border-radius: 0;
    border-right: none;
    padding: .5rem 0;
    box-shadow: none;
    border-bottom: 12px solid hsl(188, 38%, 50%);
  }
  .list-body {
    width: 90vw;
  }
}